<h1>Twitter API has been successfully deployed on AWS!</h1>

<h2>Getting Started</h2>
<p>
  To interact with this API, you can use the following resources:
</p>
<ul>
  <li><a
      href="https://wei-lin-vision.notion.site/Twitter-API-bbe054fbca0148d59814db94e728d23d"
      target="_blank"
    >API Documentation</a>
    - Understand how to use this API effectively.</li>
  <li><a href="https://www.postman.com/" target="_blank">Postman</a>
    - Test the API endpoints.</li>
</ul>

<h2>Why use this API?</h2>
<p>
  This project is deployed on AWS to showcase my capabilities in utilizing AWS
  services, specifically AWS Elastic Beanstalk for application hosting and AWS
  RDS for database management.
</p>

<footer>
  <p>Developed by
    <a href="https://github.com/wego11ya" target="_blank">Wei Lin</a></p>
</footer>